body {
  background-color: black;
}

h1 {
  color         : yellow;
  text-transform: uppercase;
  font-size     : 5rem;
  animation     : flick 3s ease-in infinite;
  text-shadow   : none;
}

@keyframes flick {

  0%,
  5%,
  10.5%,
  20%,
  40.5%,
  60%,
  80.5%,
  100% {
    opacity    : 1;
    text-shadow: -1px -1px 0 #ededed;
  }

  5.5%,
  10%,
  20.5%,
  40%,
  60.5%,
  80%,
  99.5% {
    opacity    : 0.5;
    text-shadow: none;
  }
}