.container {
  width    : 100vw;
  margin   : 15% 10%;
  font-size: 5vw;
}

p {
  display       : inline-block;
  vertical-align: top;
  margin        : 0;
}

.word {
  position: absolute;
  width   : 30vw;
  opacity : 0;
}

.letter {
  display         : inline-block;
  position        : relative;
  transform       : translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform : rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform : rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}