body {
  margin    : 1rem;
  background: #444;
}

#container {
  border  : 1px solid #ccc;
  overflow: scroll;
  width   : 200px;
}

#posts {
  max-width  : 300px;
  min-height : 50px;
  white-space: nowrap;
  display    : flex;
  align-items: center;
}

a {
  border : 1px solid white;
  padding: 5px;
  color  : white;
  margin : 5px;
}

button {
  background: black;
  color     : white;
  border    : none;
  outline   : none;
  padding   : 10px;
  cursor    : pointer;
}